<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head.ejs') %>

    <body>
        <!-- Header -->
        <%- include('partials/header.ejs') %>

            <!-- Hero Section -->
            <section class="hero">
                <div class="container">
                    <h1>Hero heading of moderate length goes here</h1>
                    <div class="hero-buttons">
                        <a href="users/register">
                            <button class="btn btn-primary">
                                Register</button>
                        </a>
                        <a href="/users/login">
                            <button class="btn btn-secondary">
                                Log In</button>
                        </a>
                    </div>
                </div>
            </section>

            <!-- E-Books Section -->
            <section class="section">
                <div class="container">
                    <h2 class="section-title">E-Books</h2>
                    <div class="product-grid">
                        <% products.filter(product=> product.category === 'ebook').slice(0,3).forEach(product => { %>
                            <a href="/products/<%= product.id %>">

                                <div class="product-card">
                                    <div class="product-image">
                                        <div class="image-placeholder"> <img
                                                src="<%= product.images?.[0] || '/images/default.png' %>"
                                                alt="<%= product.title %>"></div>
                                        <% if (products.discount) { %>
                                            <span class="product-badge sale">SALE</span>
                                            <% } %>
                                    </div>
                                    <h3>
                                        <%= product.title %>
                                    </h3>
                                    <p class="product-description">
                                        <%= product.description %>
                                    </p>
                                    <div class="product-footer">
                                        <div class="price-section">
                                            <% if(product.oldPrice !=product.price) { %>
                                                <div class="price-old">₲<%= product.oldPrice.toLocaleString() %>
                                                </div>
                                                <% } %>
                                                    <div class="price">₲<%= product.price.toLocaleString() %>
                                                    </div>
                                                    <% if (product.discount) { %>
                                                        <div class="price-discount">
                                                            <%= product.discount %>% OFF
                                                        </div>
                                                        <% } %>
                                        </div>
                                        <button class="btn-buy">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>
                                <% }) %>
                            </a>

                    </div>
                    <div class="show-more">
                        <a href="products?category=ebook">Show more</a>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container">
                    <h2 class="section-title">Courses</h2>
                    <div class="product-grid">
                        <% products.filter(product=> product.category === 'course').slice(0,3).forEach(product => { %>
                            <div class="product-card">
                                <div class="product-image">
                                    <div class="image-placeholder"> <img
                                            src="<%= product.images?.[0] || '/images/default.png' %>"
                                            alt="<%= product.title %>"></div>
                                    <% if (products.discount) { %>
                                        <span class="product-badge sale">SALE</span>
                                        <% } %>
                                </div>
                                <h3>
                                    <%= product.title %>
                                </h3>
                                <p class="product-description">
                                    <%= product.description %>
                                </p>
                                <div class="product-footer">
                                    <div class="price-section">
                                        <% if(product.oldPrice !=product.price) { %>
                                            <div class="price-old">₲<%= product.oldPrice.toLocaleString() %>
                                            </div>
                                            <% } %>
                                                <div class="price">₲<%= product.price.toLocaleString() %>
                                                </div>
                                                <% if (product.discount) { %>
                                                    <div class="price-discount">
                                                        <%= product.discount %>% OFF
                                                    </div>
                                                    <% } %>
                                    </div>
                                    <button class="btn-buy">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        Add to Cart
                                    </button>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <div class="show-more">
                        <a href="/products?category=course">Show more</a>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container">
                    <h2 class="section-title">Music</h2>
                    <div class="product-grid">
                        <% products.filter(product=> product.category === 'music').slice(0,3).forEach(product => { %>
                            <div class="product-card">
                                <div class="product-image">
                                    <div class="image-placeholder"> <img
                                            src="<%= product.images?.[0] || '/images/default.png' %>"
                                            alt="<%= product.title %>"></div>
                                    <% if (products.discount) { %>
                                        <span class="product-badge sale">SALE</span>
                                        <% } %>
                                </div>
                                <h3>
                                    <%= product.title %>
                                </h3>
                                <p class="product-description">
                                    <%= product.description %>
                                </p>
                                <div class="product-footer">
                                    <div class="price-section">
                                        <% if(product.oldPrice !=product.price) { %>
                                            <div class="price-old">₲<%= product.oldPrice.toLocaleString() %>
                                            </div>
                                            <% } %>
                                                <div class="price">₲<%= product.price.toLocaleString() %>
                                                </div>
                                                <% if (product.discount) { %>
                                                    <div class="price-discount">
                                                        <%= product.discount %>% OFF
                                                    </div>
                                                    <% } %>
                                    </div>
                                    <button class="btn-buy">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        Add to Cart
                                    </button>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <div class="show-more">
                        <a href="/products?category=music">Show more</a>
                    </div>
                </div>
            </section>


            <!-- Footer -->
            <%- include('partials/footer.ejs') %>
    </body>
</html>